<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>doc파일 다운로드 페이지</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <div class="container">
      <section>
        <article>
          <h3>1. 품의서 기초 정보 : 직접 입력</h3>
          <table>
            <tr>
              <th>개인번호</th>
              <td>O O O 고객센터 2020- 호</td>
              <th>기안일자</th>
              <td class="txt-align-cnt">2020.05.21</td>
              <th>담당자</th>
              <td class="txt-align-cnt">홍 길 동</td>
            </tr>
            <tr>
              <th>제 목</th>
              <td colspan="6">O O O 고객件 VOC처리 결과 (민원해지)</td>
            </tr>
          </table>
        </article>

        <article>
          <h3>2. VOC 및 계약정보 : 직접 입력</h3>
          <table>
            <tr>
              <th rowspan="2" class="th-15">V<br />O<br />C</th>
              <th colspan="2" class="th-120">VOC NO</th>
              <td colspan="2" class="txt-align-cnt">202005220231</td>
              <th>고객명</th>
              <td class="txt-align-cnt">홍 길 동</td>
              <th>VOC 코드</th>
              <td colspan="2">01-01-01 (유형코드명)</td>
            </tr>
            <tr>
              <th colspan="2" class="th-120">쟁점내용</th>
              <td colspan="7">- 미설명에 따른 旣납입보험료 반환 요구</td>
            </tr>
            <tr>
              <th rowspan="4" class="th-15">계<br />약<br />사<br />항</th>
              <th colspan="2" class="th-120">계약번호</th>
              <th>계약자</th>
              <th>계약일자</th>
              <th>보험종류</th>
              <th>종납사항</th>
              <th>月보험료</th>
              <th>실납입 P</th>
              <th>해지환급금</th>
            </tr>
            <tr class="txt-align-cnt">
              <td colspan="2" class="th-120">00003143343433654</td>
              <td>지진희</td>
              <td>05.01.05</td>
              <td>無에이스즉시</td>
              <td>19.01.04</td>
              <td>1,000,000</td>
              <td>115,000,000</td>
              <td>1,000,000</td>
            </tr>
            <tr class="txt-align-cnt">
              <td colspan="2" class="th-120">00003143343433654</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="txt-align-cnt">
              <th class="th-40">計</th>
              <td class="th-80">件</td>
              <th>실납입 P</th>
              <td colspan="2">115,000,000</td>
              <th>해지환급금</th>
              <td>1,000,000</td>
              <th>분쟁금액</th>
              <td>114,000,000</td>
            </tr>
          </table>
        </article>

        <article>
          <h3>3~4. VOC 개요, 조사내용, 처리의견 : 직접 입력</h3>
          <table>
            <tr>
              <td colspan="2" class="bold">3. VOC개요</td>
            </tr>
            <tr>
              <th>VOC내용</th>
              <td></td>
            </tr>
            <tr>
              <th>경과사항</th>
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="bold">4. 조사 내용 및 처리의견</td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
          </table>
        </article>

        <article>
          <h3>5. 지급정보 : 직접 입력</h3>
          <table>
            <tr>
              <th class="th-50">지급件</th>
              <th>①실지급금액<br />(고객최종지급)</th>
              <th>②실 납입보험료<br />(입금내역)</th>
              <th>③지급내역<br />(중도인출,보험금)</th>
              <th>④변경차액<br />(우량/할증제 等)</th>
              <th>해지환급금</th>
              <th>VOC추가지급금</th>
            </tr>
            <tr class="txt-align-cnt">
              <td><span class="bold">1件</span></td>
              <td>115,000,000</td>
              <td>115,000,000</td>
              <td>0</td>
              <td>0</td>
              <td>1,000,000</td>
              <td>114,000,000</td>
            </tr>
            <tr>
              <th colspan="2">계 좌 번 호</th>
              <td colspan="5">홍길동 (KEB 하나은행 123-456-7890)</td>
            </tr>
          </table>
        </article>

        <article>
          <h3>6.관련자 조치사항 : 직접 입력</h3>
          <table>
            <tr>
              <td colspan="6">
                모집 FC : <span class="bold">한 서 진</span> (OO지점, FC코드
                /급호, '00.00月 ~ 위촉中)
              </td>
            </tr>
            <tr>
              <th rowspan="2" class="th-32">문책</th>
              <th>조치사유</th>
              <td colspan="2">중요사항부실설명(문책코드: 11-00-00)</td>
              <th>조치기준</th>
              <td>판매제한 1 개월</td>
            </tr>
            <tr>
              <th>조치내용</th>
              <td colspan="4">판매제한 1 개월</td>
            </tr>
            <tr>
              <th class="th-32">구상</th>
              <th>구상여부</th>
              <td colspan="4">
                有 (보험영업지침에 의거 자동환수), 필요 時 특이사항 기재
              </td>
            </tr>
            <tr>
              <td colspan="6"></td>
            </tr>
            <tr>
              <th rowspan="2" class="th-32">문책</th>
              <th>조치사유</th>
              <td colspan="2">FC 문책 사유에 대한 관리책입</td>
              <th>조치기준</th>
              <td>관리책임</td>
            </tr>
            <tr>
              <th>조치내용</th>
              <td colspan="4">有</td>
            </tr>
            <tr>
              <th class="th-32">구상</th>
              <th>구상여부</th>
              <td colspan="4">無 (보험영업지침에 의거 자동환수)</td>
            </tr>
          </table>
        </article>

        <article class="article-bottom">
          <h3>7. 첨부서류 및 계약자 본인 확인 내용 : 직접 입력</h3>
          <table>
            <tr>
              <td class="ft-size-13">
                <p class="bold">□ 첨부서류</p>
                <p></p>
                <pre><span class="pd-left-10 ft-size-11"># 민원합의서,모집경위서,모집지점장 사실확인서,청약서류,관련 전산자료 1부.</span></pre>
                <p class="bold">□ 계약자 본인 확인 내용 : 확인여부 O X</p>
                <pre><span class="pd-left-10 ft-size-11">통화:         일    시    분, 통화 연락처:</span></pre>
                <pre><span class="pd-left-10 ft-size-11">필수안내사항 준수여부( ) 통화 녹취파일 저장( ),    <span class="underline">확인자명: OOO   (서명)</span></span></pre>
              </td>
            </tr>
          </table>
        </article>
      </section>
    </div>
    <form action="/download" method="POST">
      <input id="fileName" name="fileName" hidden />
      <input id="htmlTag" name="htmlTag" hidden />
      <input id="styleTag" name="styleTag" hidden />
      <button id="btnDownload">DownLoad</button>
    </form>

    <script src="js/index.js"></script>
  </body>
</html>
