table {
  border-collapse: collapse;
  width: 100%;
}
table,
th,
td {
  border: 1px solid #828282;
}
th {
  background-color: orange;
  width: 90px;
  font-size: 12px;
}
td {
  padding-left: 5px;
  font-size: 11px;
  height: 21px;
}

.th-15 {
  width: 15px !important;
}
.th-32 {
  width: 32px !important;
}
.th-40 {
  width: 40px !important;
}
.th-50 {
  width: 50px !important;
}
.th-80 {
  width: 80px !important;
}
.th-120 {
  width: 120px !important;
}
.bold {
  font-weight: 600;
}
.text-align-center {
  text-align: center;
}
.pd-left-10 {
  padding-left: 10px;
}
.underline {
  text-decoration: underline;
}
.ft-size-11 {
  font-size: 11px;
}
.ft-size-13 {
  font-size: 13px;
}
.txt-align-cnt {
  text-align: center;
}

/* article {
  box-sizing: border-box;
  border-top: 1px solid #828282;
  border-right: 1px solid #828282;
  border-left: 1px solid #828282;
  padding: 2px 4px;
}
.article-bottom {
  border-bottom: 1px solid #828282;
} */
